<!DOCTYPE html>
<html>
<head>
    <title>EDS 124B Portfolio</title>
</head>
<body>
    <h1>Welcome to my teaching portfolio</h1>
    
    <h2>Teaching Portfolio Resources</h2>
    
    <h3>Sequences code explanation video</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7bIm1dO0Mog" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    

    <h3>Loops code explanation video</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/W5CL28K0dIA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
    
    <h3>Animal parade code explanation video</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3NpQO8zHfA4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    
    <h3>Mouse nested repeats explanation video</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nxNnwbtOCAY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  

    <h3>Monkey Banana game explanation video</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qTfCgNvrC7Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

    <h3>Shapes drawing explanation video</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ori0VESbNuw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
</body>
</html>