<!DOCTYPE html>
<html>
<head>
    <title>EDS 124B Portfolio</title>
</head>
<body>
    <h1>Welcome to my teaching portfolio</h1>
    
    <h2>Teaching Portfolio Resources</h2>
    
    <h3>Sprite Drawing House Explanation</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7bIm1dO0Mog" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    
</body>
</html>