<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorer</title>
    <style>
        .logo {
            position: absolute;
            top: 10px;
            right: 10px;
            max-width: 50px; 
            max-height: 50px;
            z-index: 9999; 
        }
    </style>
</head>

<body>
    <a href="/">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </a>
    <h1>Select a Person ID:</h1>
    <form id="personIdForm">
        <select id="personIdDropdown">
            <!-- Options will be added dynamically using JavaScript -->
        </select>
        <button type="submit">Go to Map</button>
    </form>

    <div id="people" data-points="<%= JSON.stringify(peopleList) %>"></div>

    <script src="/js/home.js"></script>
</body>

</html>
