<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person ID Selector</title>
</head>

<body>
    <h1>Select a Person ID:</h1>
    <form id="personIdForm">
        <select id="personIdDropdown">
            <!-- Options will be added dynamically using JavaScript -->
        </select>
        <button type="submit">Go to Map</button>
    </form>

    <div id="people" data-points="<%= JSON.stringify(peopleList) %>"></div>

    <script src="/js/home.js"></script>
</body>

</html>
