<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>Explorer</title>
    <style>
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo {
            position: absolute;
            top: 10px;
            right: 10px;
            max-width: 50px;
            max-height: 50px;
            z-index: 9999;
        }
        .menu {
            background-color: #f2f2f2;
            padding: 10px;
            margin-bottom: 20px;
        }
        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .menu li {
            display: inline;
            margin-right: 10px;
        }
        .menu li a {
            text-decoration: none;
            color: #333;
            padding: 5px;
        }
    </style>
</head>
<body data-is-authenticated="<%= isAuthenticated %>">
    <div class="header">
        <h1>Explorer</h1>
    </div>
    <a href="/">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </a>

    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <% if (!isAuthenticated) { %>
                <li><a href="/login">Login</a></li>
            <% } %>
            <li><a href="/about">About Me</a></li>
        </ul>
    </div>

    <% if (isAuthenticated) { %>
        <h1>Welcome, <%= username %>!</h1>
        <form id="logoutForm">
            <button type="submit">Logout</button>
        </form>
    <% } %>
    <h1>Select a Map:</h1>
    <form id="personIdForm">
        <select id="personIdDropdown">
        </select>
        <button type="submit">Go to Map</button>
    </form>

    <div id="people" data-points="<%= JSON.stringify(peopleList) %>"></div>
    <body data-is-authenticated="<%= isAuthenticated %>">
    <script src="/js/home.js"></script>
</body>
</html>